/* Scaling System by Osmo [https://osmo.supply/] */

/* Desktop */
:root {
  --size-unit: 14; /* body font-size in design - no px */
  --size-container-ideal: 1440; /* screen-size in design - no px */
  --size-container-min: 1200px;
  --size-container-max: 1800px;
  --size-container: clamp(var(--size-container-min), 100vw, var(--size-container-max));
  --size-font: calc(var(--size-container) / (var(--size-container-ideal) / var(--size-unit)));
}

@media screen and (max-width: 1480px) {
  :root {
    --size-unit: 16;
  }
}

@media screen and (max-width: 1280px) {
  :root {
    --size-container-ideal: 1080;
    --size-unit: 14;
  }
}

/* Tablet */
@media screen and (max-width: 991px) {
  :root {
    --size-container-ideal: 920; /* screen-size in design - no px */
    --size-container-min: 768px;
    --size-container-max: 991px;
  }
}

/* Mobile Landscape */
@media screen and (max-width: 767px) {
  :root {
    --size-container-ideal: 640; /* screen-size in design - no px */
    --size-container-min: 480px;
    --size-container-max: 767px;
  }
}

/* Mobile Portrait */
@media screen and (max-width: 479px) {
  :root {
    --size-container-ideal: 390; /* screen-size in design - no px */
    --size-container-min: 320px;
    --size-container-max: 479px;
  }
}
