/* Design Tokens & Theme Configuration */

@theme {
  --font-body: "Outfit", "system-ui", "sans-serif";
  --font-loading: optional;

  --ease-elastic: linear(0, 0.55 7.5%, 0.85 12%, 0.95 14%, 1.03 16.5%, 1.09 20%, 1.13 22%, 1.14 23%, 1.15 24.5%, 1.15 26%, 1.13 28%, 1.11 31%, 1.05 39%, 1.02 43%, 0.99 47%, 0.98 52%, 0.97 59%, 1.002 81%, 1);
  --cubic-default: cubic-bezier(0.525, 0, 0, 1);

  --color-primary: oklch(0.689 0.0845 57.83);
  --color-dark: oklch(0.1818 0.002 106.6);
  --color-light: oklch(0.9751 0.0068 67.74);
}
